
.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
    margin: 10px;
  }
  
  .header {
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .app {
      padding-left: 20px; 
      margin: 5px; 
    }
  
    .header {
      font-size: 24px; 
    }
  }
  